
/****** Object:  Table [dbo].[Guests]    Script Date: 16/07/2018 15:56:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Guests](
	[GuestName] [nvarchar](1000) NULL,
	[LastPolled] [datetime] NULL
) ON [PRIMARY]
GO
