
/****** Object:  Table [dbo].[tblvCenterCredentials]    Script Date: 16/07/2018 15:56:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblvCenterCredentials](
	[vCenter_ServerName] [nvarchar](100) NULL,
	[vCenter_Username] [nvarchar](50) NULL,
	[vCenter_Password] [nvarchar](50) NULL
) ON [PRIMARY]
GO
